<ion-content>
 

  <ion-grid class="ion-text-center">

    <ion-row class="ion-margin">
      <ion-col>
        <ion-title>
          <ion-text color="default">
            Pet Store
          </ion-text>
        </ion-title>
      </ion-col>
    </ion-row>

    <ion-row class="header-row">
      <ion-col>
        <ion-text>ID</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Type</ion-text>
      </ion-col>

      <ion-col>
        <ion-text>Price</ion-text>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-text>
            1
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
            Gato
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            R$ 50
          </ion-text>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
            1
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
            Gato
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            R$ 50
          </ion-text>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>
            1
        </ion-text>
      </ion-col>

        <ion-col>
          <ion-text>
            Gato
          </ion-text>
        </ion-col>
  
        <ion-col>
          <ion-text>
            R$ 50
          </ion-text>
        </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>